body{
    background-color:#36393F;
}

h1, h2{
  color:white;
}

hr{ 
    height: 2px;
    color: white;
    background-color: white;
    border: none;
    margin-top:50px;
    margin-bottom:50px;
  }

.text-header{
    color:#9FA0A3;
    font-size:24px;
}

.text{
  font-size:20px;
}

.copyright {
    color: white;
    transition: 1s;
    text-align: center;
    display: block;
}

.soft-nav-item {
    opacity: 20%;
    transition: 0.2s;
}

.soft-nav-item:hover {
    opacity: 100%;
    color:white;
}

.hyperlink {
    opacity:100%;
    color: #A5B4E7; 
    background-color:#6071AC; 
    text-decoration: none;
    border: 1px solid #6071AC;
    border-radius:6px;
    font-size:20px;
    transition:0.3s;
    padding: 1.5px;
}

.hyperlink:hover {
    color: rgb(189, 199, 231); 
    background-color:rgb(68, 91, 175); 
    opacity:10%;
    border-radius: 10px;
    text-decoration: none;
}

.darkgray {
    background-color: #2F3136;
    color:#9FA0A3;
}

.lightgray {
    background-color: #9FA0A3;
    color:#2F3136;
}

/* Thanks AstelonM */
/* https://github.com/AstelonM */

@media screen and (max-width: 400px) {
    nav>ul>li {
        display: block;
        position: static;
    }
    ul li ul {
        display: block;
        position: static;
    }
    ul li:hover ul {
        background-color: grey;
        display: block;
        position: static;
    }
}